@import './reset.css';
@import './variables.css';



/* Generale styles */

.dark{
    --page-bg: #252526;
    --text-color: var(--clr-light);
    --title-1: var(--clr-light);
    --project-card-bg: var(--clr-dark);
    --project-card-text: var(--clr-light);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html{
    min-height: 100vh;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: var(--page-bg);
    color: var(--text-color);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

#root {
    min-height: 100vh;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

section{
    padding: 4em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong{
    font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
    font-weight: var(--fw-bold);
}

h1 {font-size: var(--fs-h1) }
h2 {font-size: var(--fs-h2) }
h3 {font-size: var(--fs-h3) }

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    color: var(--clr-dark);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}



/* Btn */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--clr-accent);
    color: #333333;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: var(--fw-bold);

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Btn outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 48px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid var(--blackpure);
    background-color: var(--clr-white);
    color: var(--blackpure);
    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

